@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
/*padding-top: 15%;*/
padding-bottom: 15px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
/*position:absolute;*/
top:2%;
right:2%;
color: #ffffff;
font-family:Futura;
font-weight:bold;
text-align:right;
}

.btn{
background-color: #ffcc00;
border: none
}

.btn-v3 {
background-color: #d83f87;
padding: 8px 8px 8px 8px;
border-radius: 15px;
border: none
}

.btn:hover {
background: #fc4a1a
}
.btn:active {
background: #fc4a1a
}
.step-links a{
color: #4285F4;
}
.you-searched-for {
background:#ffffff;
border-top-right-radius:25px;
border-top-left-radius:25px;
color:#4abdac;
border-bottom: 4px solid #ffcc00;
font-family:Futura;
}

.you-searched-for-v3 {
background-color: inherit;
border-top-right-radius:25px;
border-top-left-radius:25px;
color:#44318d;
font-family:Futura;
border-bottom: 4px solid #8d8e8a;
}

.display-urls {
width:400px;
float:left;
border-radius:25px;
height:400px;
margin:50px;
text-align:center;
background:#ffffff;
font-family:Futura;
font-size: 15px;
}
.top-banner {
background:#4abdac;
color:white;
font-family:Futura;
}

.top-banner-v3 {
background:#44318d;
color:white;
font-family:Futura;
/*background-image: url(images/test.jpg);*/
}

.rainbow_positive {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #18683b), color-stop(0.33, #28b463), color-stop(0.67, #58d68d), color-stop(1, #f1c40f) );
background-image: gradient( linear, left top, right top, color-stop(0, #18683b), color-stop(0.33, #28b463), color-stop(0.67, #58d68d), color-stop(1, #f1c40f) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

.rainbow_negitive {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f1c40f), color-stop(0.33, #f39c12),color-stop(0.67, #e67e22), color-stop(1, #e74c3c) );
background-image: gradient( linear, left top, right top, color-stop(0, #f1c40f), color-stop(0.33, #f39c12),color-stop(0.67, #e67e22), color-stop(1, #e74c3c) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

.pollSlider{
    position:fixed;
    height:100%;
    background:red;
    width:200px;
    right:0px;
    margin-right: -200px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #8d8e8a;
    margin: .28px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.user-tags {
    border: 0.25px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
    padding: 3px 3px 3px 3px;
}


.text-center {
    text-align:center;
}

.set-font {
    font-family: Futura;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.score-box-green {
    border: 0.25px;
    color: #82e0aa;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
    padding: 3px 3px 3px 3px;
}

.score-box-yellow {
    border: 0.25px;
    color: #f7dc6f;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
    padding: 3px 3px 3px 3px;
}

.score-box-red {
    border: 0.25px;
    color: #ff0000;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
    padding: 3px 3px 3px 3px;
}

.underline {
    position: relative;
    border-bottom: 4px solid #8d8e8a;
    /*display:table-cell;
    width:100%;*/
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
  content: "";
}


.tag-box {
    background-color: #d83f87;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
    border: none
}

