@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
color: #fc4a1a;
font-family:Segoe UI;
font-weight:bold;
text-align:center;
}
.btn{
background-color: #ffcc00;
border: none
}
.btn:hover {
background: #fc4a1a
}
.btn:active {
background: #fc4a1a
}
.step-links a{
color: #4285F4;
}
.you-searched-for {
background:#ffffff;
border-top-right-radius:25px;
border-top-left-radius:25px;
color:#4abdac;
border-bottom: 4px solid #ffcc00;
font-family:Segoe UI;
}
.display-urls {
width:400px;
float:left;
border-radius:25px;
height:400px;
margin:50px;
text-align:center;
background:#ffffff;
font-family:Segoe UI;
font-size: 15px;
}
.top-banner {
background:#4abdac;
color:white;
font-family:Segoe UI;
}

.rainbow {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #18683b), color-stop(0.17, #28b463), color-stop(0.34, #58d68d), color-stop(0.51, #f1c40f), color-stop(0.68, #f39c12),color-stop(0.85, #e67e22), color-stop(1, #e74c3c) );
background-image: gradient( linear, left top, right top, color-stop(0, #18683b), color-stop(0.17, #28b463), color-stop(0.34, #58d68d), color-stop(0.51, #f1c40f), color-stop(0.68, #f39c12),color-stop(0.85, #e67e22), color-stop(1, #e74c3c) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}
