<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p>Course Recommendations for Job Description</p>
            <p>kk924, pj252, rpm245, yp346</p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                J
                <font color=#EA4335>O</font>
                <font color=#FBBC05>B</font>
                &nbsp;
                <font color=#34A853>D</font>
                <font color=#EA4335>E</font>
		S
		<font color=#EA4335>C</font>
		<font color=#FBBC05>R</font>
		I
		<font color=#34A853>P</font>
	        <font color=#EA4335>T</font>
		I
		<font color=#EA4335>O</font>
		<font color=#FBBC05>N</font>
            </h1>
            
            <br><br>
            
            <div class="form-group">
	        
                <input id="input" type="text" name="search" class="form-control" placeholder="Enter Job Description here"><br><br>
<!--                <input id="input" type="text" name="search1" class="form-control" placeholder="Your Input"><br><br>-->
	    </div><br>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        
        <div class="form-inline global-search">
            <h3><b>COURSERA COURSES</b></h3><br><br>
            {% for line in output %}
                <b>{{line.0}}</b><br> <a href="{{line.1}}">{{line.1}}</a><br><br>
            {% endfor %}
            
            <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- Showing the page numbers in Html Page -->
                    <span class="current">
                    Page {{ output.number }} of {{ output.paginator.num_pages }}
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
</html>
