<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
			$(document).ready(function()
{
    var slider_width = $('.pollSlider').width();//get width automaticly
  $('#pollSlider-button').click(function() {
    if($(this).css("margin-right") == slider_width+"px" && !$(this).is(':animated'))
    {
        $('.pollSlider,#pollSlider-button').animate({"margin-right": '-='+slider_width});
    }
    else
    {
        if(!$(this).is(':animated'))//perevent double click to double margin
        {
            $('.pollSlider,#pollSlider-button').animate({"margin-right": '+='+slider_width});
        }
    }


  });
 });

    </script>
</head>

<body>
<!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->

{% if version == "Final" %}
<div class="top-banner-v3">
    <div class="topcorner">
                    <div class="pollSlider"></div>
            <div id="pollSlider-button"></div>
        <p>kk924, pj252, rpm245, yp346</p>
    </div>
    <form class="form-inline global-search" method='GET'>
        <h1 style="font-size: 50px; font-family:Futura">
            {% if version == "Final" %}
            COURSE RECOMMENDATION SYSTEM v3
            {% elif version == "Second"%}
            COURSE RECOMMENDATION SYSTEM v2
            {% else %}
            COURSE RECOMMENDATION SYSTEM v1
            {% endif %}
        </h1>

        <br><br>

        <div class="form-group">

            <b style="font-size:15px;">SELECT A PROTOTYPE</b><br><br>
            <!--<input type="radio" name="change" value="First"> First Prototype
            <input type="radio" name="change" value="Second"> Second Prototype
            <input type="radio" name="change" value="Final"> Final version-->
            {% if version == "First" %}
            <button name="change" type="submit" class="btn-v3 btn-info" value="First" background="#fc4a1a">First
                Prototype
            </button>
            {% else %}
            <button name="change" type="submit" class="btn-v3 btn-info" value="First">First Prototype</button>
            {% endif %}
            {% if version == "Second" %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn-v3 btn-info" value="Second" background-color="#fc4a1a">Second
                Prototype
            </button>
            {% else %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn-v3 btn-info" value="Second">Second Prototype</button>
            {% endif %}
            {% if version == "Final" %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn-v3 btn-info" value="Final" background="#fc4a1a">Final Version
            </button>
            <br><br>
            {% else %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn-v3 btn-info" value="Final">Final Version</button>
            <br><br>
            {% endif %}
            {% if version == "Second" or version == "Final" %}
            <textarea name="search" rows="10" cols="70" class="form-control" placeholder="Enter job description..."
                      color="black" style="border-radius: 15px;">{{original_search}}</textarea>
            {% else %}
            <input id="input" type="text" name="search" class="form-control"
                   placeholder="Enter skills separated by comma">
            {% endif %}
            <br><br>
            <!--                <class="form-inline global-search" input id="input" type="text" name="search1" class="form-control" placeholder="Your Input"><br><br>-->
        </div>
        <br>
        <button name="change" type="submit" class="btn-v3 btn-info" value="{{version}}"> Search Courses!</button>
        <br><br>
        {% if second_select == "True" and version != "First" %}
        <b>SELECT SKILLS YOU WANT TO IMPROVE</b><br><br>
        <div style="font-size: 18px;">
            {% for search,_ in zipped %}
            <!--<input type="checkbox" name="known_courses" value="{{search}}"> {{search}}&nbsp;&nbsp;-->
            <input type="checkbox" name="known_courses" value="{{search}}"> {{search}}&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </div>
        <br><br>
        <button name="change" type="submit" class="btn-v3 btn-info" value="{{version}}"> Filter Courses!</button>
        {% endif %}
    </form>
</div>
{% else %}
<div class="top-banner">
    <div class="topcorner">
                    <div class="pollSlider"></div>
            <div id="pollSlider-button"></div>
        <p>kk924, pj252, rpm245, yp346</p>
    </div>
    <form class="form-inline global-search" method='GET'>
        <h1 style="font-size: 50px; font-family:Futura">
            {% if version == "Final" %}
            COURSE RECOMMENDATION SYSTEM v3
            {% elif version == "Second"%}
            COURSE RECOMMENDATION SYSTEM v2
            {% else %}
            COURSE RECOMMENDATION SYSTEM v1
            {% endif %}
        </h1>

        <br><br>

        <div class="form-group">

            <b>SELECT A PROTOTYPE</b><br><br>
            <!--<input type="radio" name="change" value="First"> First Prototype
            <input type="radio" name="change" value="Second"> Second Prototype
            <input type="radio" name="change" value="Final"> Final version-->
            {% if version == "First" %}
            <button name="change" type="submit" class="btn btn-info" value="First" background="#fc4a1a">First
                Prototype
            </button>
            {% else %}
            <button name="change" type="submit" class="btn btn-info" value="First">First Prototype</button>
            {% endif %}
            {% if version == "Second" %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn btn-info" value="Second" background-color="#fc4a1a">Second
                Prototype
            </button>
            {% else %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn btn-info" value="Second">Second Prototype</button>
            {% endif %}
            {% if version == "Final" %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn btn-info" value="Final" background="#fc4a1a">Final Version
            </button>
            <br><br>
            {% else %}
            &nbsp;&nbsp;
            <button name="change" type="submit" class="btn btn-info" value="Final">Final Version</button>
            <br><br>
            {% endif %}
            {% if version == "Second" or version == "Final" %}
            <textarea name="search" rows="10" cols="70" class="form-control" placeholder="Enter job description..."
                      color="black">{{original_search}}</textarea>
            {% else %}
            <input id="input" type="text" name="search" class="form-control"
                   placeholder="Enter skills separated by comma">
            {% endif %}
            <br><br>
            <!--                <class="form-inline global-search" input id="input" type="text" name="search1" class="form-control" placeholder="Your Input"><br><br>-->
        </div>
        <br>
        <button name="change" type="submit" class="btn btn-info" value="{{version}}"> Search Courses!</button>
        <br><br>
        {% if second_select == "True" and version != "First" %}
        <b>SELECT SKILLS YOU WANT TO IMPROVE</b><br><br>
        <div>
            {% for search,_ in zipped %}
            <!--<input type="checkbox" name="known_courses" value="{{search}}"> {{search}}&nbsp;&nbsp;-->
            <input type="checkbox" name="known_courses" value="{{search}}"> {{search}}&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </div>
        <br><br>
        <button name="change" type="submit" class="btn btn-info" value="{{version}}"> Filter Courses!</button>
        {% endif %}
    </form>
</div>
{% endif %}
{% if second_select != "True" %}
{% if version == "Final" %}
<div class="row">

    {% if overall_op %}
    <div class="you-searched-for-v3">
        <h3 style="text-align:center"><b style="color:#00bfff">Overall Courses</b> </h3></div>
    {% endif %}
    <br>
    <div class = "row">
        <div class="col-sm-1"></div>
    {% for course in overall_op %}
    <div style="background-color: #000000; margin: 6; border-radius: 15px;" class="col-sm-2 text-center set-font">
    <!--<div class="col-md-5ths col-xs-6 text-center set-font">-->
    <!--<span style="color:#fc4a1a"><b>{{course.0}}</b></span>-->
    <br> <a target="_blank" href="{{course.2}}" style="color:#d83f87; font-size:17px">{{course.1}}</a><br>
    <br><b style="color:#ffffff"> Sentiment Score:
    {% if course.0 > "0.0" %}
    <span class="score-box-green">{{course.0}}</span>
    {% elif course.0 < "0.0" %}
    <span class="score-box-red">{{course.0}}</span>
    {% else %}
    <span class="score-box-yellow">{{course.0}}</span>
    {% endif %}
</b><br><br>
    <input id="toggle" type="checkbox">
  <label style="color:#ffffff">User Review Tags</label>
  <div id="expand">
    {% if not course.3 and not course.4 %}
    <b style="color:#ffffff">No reviews are available for this course.</b>
    {% else %}
        <br>
        {% for tag in course.3 %}
        <p style="color:#ffffff" class="user-tags text-center">{{tag}}</p>
        {% endfor %}
        {% for tag in course.4 %}
        <p style="color:#ffffff" class="user-tags text-center">{{tag}}</p>
        {% endfor %}

    {% endif %}
    </div>
    </div>
    {% endfor %}
        <div class="col-sm-1"></div>
        </div>

</div>
{% endif %}
{% for search,search_query in zipped %}
{% if version == "First" %}
<div class="display-urls">
    <div class="you-searched-for">
        <h3>You searched for: <b style="color:#fc4a1a">{{search}}</b></h3></div>
    <br>
    {% for line in search_query %}
    <b>{{line.0}}</b><br> <a target="_blank" href="{{line.1}}" style="color:#07889b">{{line.1}}</a><br><br>
    {% endfor %}
    </div>
</div>
{% elif version == "Second" %}
<div class="display-urls">
    <div class="you-searched-for">
        <h3>You searched for: <b style="color:#fc4a1a">{{search}}</b></h3></div>
    <br>
    {% for line in search_query %}
    <b>{{line.1}}</b><br> <a target="_blank" href="{{line.2}}" style="color:#07889b">{{line.2}}</a><br><br>
    {% endfor %}
    </div>
</div>
{% else %}


<div class="row">
    <div class="you-searched-for-v3">
        <h3 align="center">You searched for: <b style="color:#00bfff">{{search}}</b></h3></div>
    <br>
    <div class = "row">
        <div class="col-sm-1"></div>
    {% for line in search_query %}
    <!--<div class="col-md-5ths col-xs-6 text-center set-font">-->
    <div style="background-color: #000000; margin: 6; border-radius: 15px;" class="col-sm-2 text-center set-font">
    <!--<span style="color:#fc4a1a"><b>{{line.1}}</b></span>-->
    <br> <a target="_blank" href="{{line.2}}" style="color:#d83f87; font-size:17px">{{line.1}}</a>
    <br><br><b style="color:#ffffff"> Sentiment Score:
    {% if line.0 > "0.0" %}
    <span class="score-box-green">{{line.0}}</span>
    {% elif line.0 < "0.0" %}
    <span class="score-box-red">{{line.0}}</span>
    {% else %}
    <span class="score-box-yellow">{{line.0}}</span>
    {% endif %}
</b><br><br>
    <input id="toggle" type="checkbox">
  <label style="color:#ffffff">User Review Tags</label>
  <div id="expand">
    {% if not line.3 and not line.4 %}
    <b style="color:#ffffff">No reviews are available for this course.</b>
    {% else %}
        <br>
        {% for tag in line.3 %}
        <p style="color:#ffffff" class="user-tags text-center">{{tag}}</p>
        {% endfor %}
        {% for tag in line.4 %}
        <p style="color:#ffffff" class="user-tags text-center">{{tag}}</p>
        {% endfor %}

    <!--<b><span class="rainbow_positive">{{line.3}}, </span><br>
        <span class="rainbow_negitive">{{line.4}}</span></b>-->
    {% endif %}
    </div>
    </div>
    {% endfor %}
        <div class="col-sm-1"></div>
        </div>

</div>
    {% endif %}
{% endfor %}
{% endif %}
<!--<div class="pagination">
    <span class="step-links">
        {% if output.has_previous %}
        <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
        {% endif %}

        Showing the page numbers in Html Page
        <span class="current">
        Page {{ output.number }} of {{ output.paginator.num_pages }}
        </span>

        {% if output.has_next %}
        <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>-->
</body>
</html>
